<h1> Welcome to the friends page!</h1>

<% friends.forEach(function(friend){ %>
    <li> <%=friend%> </li>
<% });%>

<form action="/addFriend" method="POST">
    <input type="text" name="name" placeholder="name">
    <button> I made a new friend!</button>
</form>